
<div class="show-container">
  <div class="show-cocktail">

    <h1><%= @cocktail.name %></h1>
     <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

  </div>


  <div class="show-doses">
    <h2>Preparation</h2>
    <% @cocktail.doses.each do |dose| %>
      <ol>
        <%= dose.ingredient.name %>
        <%= dose.description %>
        </ol>
      <% end %>

  </div>
  </div>


      <div class="list-inline-menu">

       <%= link_to "Add Dose", new_cocktail_dose_path(@cocktail) %>


      <%= link_to "Back to all cocktails", root_path %>


      <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash destroy_dose"></i>
      <% end %>

      </div>




















